<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qianfeng.mapper.PhoneMapper">
    <!--查找所有品牌-->
    <resultMap id="brandBaseResultMap" type="com.qianfeng.bean.TbBrand">
        <id property="brandId" column="brand_id" javaType="java.lang.Integer"/>
        <result property="brandName" column="brand_name" javaType="java.lang.String"/>
    </resultMap>

    <!--查找品牌所有手机型号-->
    <resultMap id="phoneBaseResultMap" type="com.qianfeng.bean.TbPhone">
        <id property="phoneId" column="phone_id" javaType="java.lang.Integer"/>
        <result property="brandId" column="brand_id" javaType="java.lang.Integer"/>
        <result property="phoneName" column="phone_name" javaType="java.lang.String"/>
        <result property="phoneImg" column="phone_img" javaType="java.lang.String"/>
        <result property="phonePrice" column="phone_price" javaType="java.lang.Integer"/>
    </resultMap>
    <!--查找品牌sql语句-->
    <select id="queryAllBrand" resultMap="brandBaseResultMap">
        select brand_id,brand_name from tb_brand
    </select>

    <!--通过品牌Id查找手机型号 如果ID为0 查找所有-->
    <select id="queryPhonesByBrandId" resultMap="phoneBaseResultMap">
        select * from tb_phone
        <where>
            <if test="brandId!=0">
                brand_id=#{brandId}
            </if>
        </where>
    </select>
    <!--通过手机型号查手机信息-->
    <select id="queryPhoneById" resultMap="phoneBaseResultMap">
        select * from tb_phone where phone_id=#{phoneId}
    </select>
</mapper>