<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianfeng.mapper.UserMapper">
    <resultMap id="baseUserResultMap" type="com.qianfeng.bean.TbUser">
        <id property="userId" column="user_id" javaType="java.lang.Long"/>
        <result property="userName" column="user_name"  javaType="java.lang.String"/>
        <result property="password" column="password" javaType="java.lang.String"/>
        <result property="userTel" column="password"  javaType="java.lang.String"/>
        <result property="pic" column="user_tel"  javaType="java.lang.String"/>
        <result property="account" column="pic"  javaType="java.lang.Long"/>
        <result property="frozen" column="account"  javaType="java.lang.Long"/>
        <result property="eMail" column="frozen"  javaType="java.lang.String"/>
        <result property="eMail" column="e_mail"  javaType="java.lang.String"/>
        <result property="userTime" column="user_time"  javaType="java.sql.Timestamp"/>
        <result property="level" column="level"  javaType="java.lang.Long"/>
    </resultMap>
    <select id="queryUser" resultMap="baseUserResultMap">
        select * from tb_user where user_name=#{userName}
    </select>
    <insert id="insertUser">
        insert into tb_user(user_name,password,user_tel,pic,account,frozen,e_mail,user_time,level)
        value(#{userName},#{password},#{userTel},#{pic},#{account},#{frozen},#{eMail},#{userTime},#{level})
    </insert>
</mapper>